<% provide(:title, "Help") %>
<h1>Rules of Fight Club</h1>
<p> 1 - you do not talk about Fight Club. </p>
<p> 2 - you DO NOT talk about Fight Club! </p>
<p> 3 - someone yells "stop!", goes limp, taps out, the fight is over </p>
<p> 4 - only two guys to a fight.</p>
<p> 5 - one fight at a time, fellas.</p>
<p> 6 - no shirts, no shoes.</p>
<p> 7 - fights will go on as long as they have to.</p>
<p> 8 - if this is your first time at Fight Club, you have to fight. </p>

