<div class="center jumbotron">
  <h1>Weclome to</h1>
  <h1>Fight Club !</h1>
  <h2>
    La première règle du Fight Club est "il est interdit de parler du Fight Club" 1F4AAa ; !
  </h2>

  <%= link_to "Enregistre-toi ici", signup_path, class: "btn btn-lg btn-primary" %>
</div>
